/* 
 * Simple CSS for "A Form of Resistance"
 */

body {
  display: flex;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.35rem;
  justify-content: center;
}

h1 {
  margin: 1em 0 1em;
  text-align: center;
}

h2 {
  margin: 1.5em 0 0.5em;
}

details.about {
  border: thin solid black;
  border-radius: 0.5em;
  margin: 2em 0 1em;
  padding: 0.5em 1em 0;
}

details.about summary {
  font-size: 1.15em;
  margin-bottom: 0.5em;
}

details.about[open] summary {
  border-bottom: 2px solid darkgray;
}

main {
  display: inline-grid;
  flex: 1 1 50%;
  gap: 1em;
  margin: 0.5em 0.5em 1em;
  max-width: 600px;
}

@media (min-width: 1000px) {
  main {
    grid-template-columns: 60% 30%;
    grid-template-areas:
      "header header"
      "form aside";
    max-width: 1200px;
  }
  h1 { grid-area: header; margin: 1em 0; }
  div.home { grid-area: form; }
  form { grid-area: form; }
  aside { grid-area: aside; }
  details.about { margin-top: 0; }
}

@media (max-width: 500px) {
  main {
    flex: 1 1 90%;
  }
}

form, nav {
  background-color: #ffebff;
  border: thin solid darkred;
}

form, .form-group {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

form {
  gap: 1rem;
  padding: 1em 1.25em;
}

input { font-size: inherit; }

input[type="radio"] {
  margin-left: 0.5em;
}

input[type="submit"] {
  background-color: white;
}

.note {
  font-size: 0.85em;
  margin-top: 0.5em;
}

#req-params {
  display: grid;
  grid-template-columns: 30% auto;
}
#req-params > dt { grid-column: 1; }
#req-params > dd { grid-column: 2; }

table { width: 100%; }

table, td, th { border: thin solid gray; }

th, td { padding: 0.25em; }

th[scope="column"] { text-align: center; }

p.note { margin-bottom: 0; }

.hidden { display: none; }
